@import './main.css';

@media screen and (max-width: 1279px) {

    body {
        margin: 0;
        width: 100%;
    }

}

@media screen and (max-width: 620px) {

    body {
        margin: 0 10px;
        align-items: initial;
    }

    h1 {
        font-size: 43px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

}